// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available.
// We're using more muted, military-inspired colors for this veterans' theme.
$veteransbenefits-client-primary: mat.define-palette(
  mat.$blue-palette,
  800
); // A deep blue for primary
$veteransbenefits-client-accent: mat.define-palette(
  mat.$grey-palette,
  200,
  100,
  400
); // A grey for accent, not too stark

// The warn palette is optional (defaults to red).
// Keeping this as red as it's a common color for warnings.
$veteransbenefits-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$veteransbenefits-client-theme: mat.define-light-theme(
  (
    color: (
      primary: $veteransbenefits-client-primary,
      accent: $veteransbenefits-client-accent,
      warn: $veteransbenefits-client-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($veteransbenefits-client-theme);
