/* Import the custom theme */
@import "custom-theme.scss";

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(3, 3, 41);
}

/* Navigation Bar Styles */
.navbar ul {
  list-style-type: none;
  background-color: #333;
  overflow: hidden;
  color: white;
}

.navbar li {
  float: left;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Full-width navbar (needed on resources page so the cards don't cover the right half of the navbar)*/
.full-width-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #333;
}
.full-width-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.full-width-navbar li {
  float: left;
}
.full-width-navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.full-width-navbar li a:hover {
  background-color: #111;
}

/* FAQ Section Styles */
.faq-section {
  max-width: 800px;
  margin: auto;
  padding-top: 20px;
}

.faq-question {
  background-color: #f1f1f1;
  color: #333;
  padding: 15px;
  margin: 5px 0;
  border: none;
  text-align: left;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #f9f9f9;
  padding: 0 15px;
  margin: 0;
  border-radius: 5px;
}

.faq-answer p {
  margin: 15px 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
