<mat-accordion>
  <mat-expansion-panel class="panel-container">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Federal Benefits List by Combined Ratings
      </mat-panel-title>
      <mat-panel-description>
        Detailed information on various benefits
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="percent-sections">
      <div
        *ngFor="let percent of percentages"
        class="percent-category"
        [class.expanded]="expandedSections[percent]"
      >
        <h3 (click)="toggleSectionExpansion(percent)">
          {{
            groupedBenefitsData[percent].overrideTitle || percent + "% Benefits"
          }}
          <span
            class="arrow-indicator"
            [class.rotated]="expandedSections[percent]"
            >&#9662;</span
          >
        </h3>
        <div class="table-container" *ngIf="expandedSections[percent]">
          <table class="benefits-table">
            <thead>
              <tr>
                <th class="header-cell">Category</th>
                <th class="header-cell">Description</th>
                <th class="header-cell">Notes</th>
              </tr>
            </thead>
            <tbody>
              <ng-container
                *ngFor="
                  let categoryEntry of groupedBenefitsData[percent].benefits
                "
              >
                <tr class="table-row">
                  <td class="cell category">
                    <mat-icon class="icon">{{
                      categoryIcons[categoryEntry.category]
                    }}</mat-icon>
                    {{ categoryEntry.category }}
                  </td>
                  <td class="cell">
                    <ul>
                      <ng-container *ngFor="let entry of categoryEntry.items">
                        <li
                          *ngIf="entry.description"
                          [innerHTML]="entry.description | markdown"
                        >
                          {{ entry.description }}
                        </li>
                      </ng-container>
                    </ul>
                  </td>
                  <td class="notes-column cell">
                    <ul>
                      <ng-container *ngFor="let entry of categoryEntry.items">
                        <li
                          *ngIf="entry.notes"
                          [innerHTML]="entry.notes | markdown"
                        >
                          {{ entry.notes }}
                        </li>
                      </ng-container>
                    </ul>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="panel-container">
    <mat-expansion-panel-header>
      <mat-panel-title>The Rating Schedule</mat-panel-title>
      <mat-panel-description>
        Detailed information on various benefits
      </mat-panel-description>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</mat-accordion>
