<app-navigation-bar></app-navigation-bar>
<body>
  <!-- Resources Section -->
  <div class="container mt-5">
    <!-- mt-5 is a bootstrap class. m stands for margin, t refers to top (the top margin) 5 represents the size of the margin (out of a 0-5 scale with bootstrap) -->
    <h2 class="mb-4">Our Resources</h2>
    <!-- mb-4 is a bootstrap class. m stands for margin, b refers to bottom (the bottom margin) 4 represents the size of the margin (out of a 0-5 scale with bootstrap)-->

    <div style="text-align: middle; margin-bottom: 20px">
      <input
        type="text"
        [(ngModel)]="searchInput"
        (input)="searchResources()"
        placeholder="Search..."
        style="
          padding: 10px;
          width: 500px;
          border: 3px solid #ccc;
          border-radius: 100px;
        "
      />
    </div>

    <!-- Filter Box Section -->
    <div class="filter-box">
      <div class="label-and-reset">
        <h3>Filter by Category</h3>
        <button class="reset-button" (click)="resetCategories()">Reset</button>
      </div>

      <div class="filters">
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedCategory"
            [value]="'Appointment Scheduling'"
          />
          Appointment Scheduling
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedCategory"
            [value]="'Health'"
          />
          Health
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedCategory"
            [value]="'Misc.'"
          />
          Miscellaneous
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedCategory"
            [value]="'Death Benefits'"
          />
          Death Benefits
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedCategory"
            [value]="'Disability Compensation'"
          />
          Disability Compensation
        </label>
        <label>
          <input
            type="radio"
            [(ngModel)]="selectedCategory"
            [value]="'Education & Employment'"
          />
          Education & Employment
        </label>
      </div>
    </div>

    <div class="cards">
      <!-- Resource 1 -->
      <ng-container *ngFor="let resource of filteredResources">
        <div
          class="col-md-4 mb-4"
          *ngIf="isCategorySelected(resource.category)"
        >
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                {{ resource.title }}
              </h5>
              <p class="category">
                <span class="category-text">{{ resource.category }}</span>
              </p>
              <p class="card-text">
                {{ resource.description }}
              </p>
              <a href="{{ resource.link }}" class="btn btn-primary read-more"
                >Read More</a
              >
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>

  <!-- Footer Section -->
  <footer class="footer mt-auto py-3 bg-light">
    <!-- mt-auto is a bootstrap class for an auto sized top margin. py-3 is padding, on the y-axis, with a size of 3. bg-light is a ligt gray background color-->
    <div class="container text-center">
      <span class="text-muted"
        >For more help please visit the r/VeteransBenefits subreddit</span
      >
      <br />
      <a href="https://www.reddit.com/r/VeteransBenefits/"
        >Visit our page on Reddit</a
      >
    </div>
  </footer>
  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
