<app-navigation-bar></app-navigation-bar>

<body>
  <div style="text-align: center; margin-top: 20px">
    <input
      type="text"
      [(ngModel)]="searchInput"
      (input)="searchQuestions()"
      placeholder="Search..."
      style="
        padding: 10px;
        width: 500px;
        border: 3px solid #ccc;
        border-radius: 100px;
      "
    />
  </div>

  <div class="faq-section">
    <div *ngFor="let question of filteredQuestions">
      <div class="faq-item">
        <button class="faq-question" (click)="toggleAnswer(question.id)">
          {{ question.question }}
        </button>
        <div *ngIf="isAnswerVisible(question.id)">
          <p>{{ question.answer }}</p>
        </div>
      </div>
    </div>    
  </div>
</body>
