<div class="container">
  <form [formGroup]="serviceDetailsForm" (ngSubmit)="moveToNextStep()">
    <div class="step-header">
      <h2>General Service Details</h2>
      <p>Start with some basic information about your military service</p>
    </div>
    <div class="form-content">
      <!-- Years of Service -->
      <mat-form-field appearance="outline" class="tt-form-field">
        <mat-label>Years of Service</mat-label>
        <input matInput formControlName="yearsOfService" />
        <mat-icon matSuffix>event</mat-icon>
      </mat-form-field>

      <!-- Branch -->
      <mat-form-field appearance="outline" class="tt-form-field">
        <mat-label>Branch</mat-label>
        <mat-select
          formControlName="branch"
          (selectionChange)="onBranchSelect($event)"
        >
          <mat-option *ngFor="let branch of branches" [value]="branch">
            {{ branch }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Service Type -->
      <mat-form-field appearance="outline" class="tt-form-field">
        <mat-label>Service Type</mat-label>
        <mat-select
          formControlName="serviceType"
          (selectionChange)="onServiceTypeSelect($event)"
        >
          <mat-option *ngFor="let type of serviceTypes" [value]="type">
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Rank Category -->
      <mat-form-field appearance="outline" class="tt-form-field">
        <mat-label>Rank Category</mat-label>
        <mat-select
          formControlName="rankCategory"
          (selectionChange)="onRankCategorySelect($event)"
        >
          <mat-option
            *ngFor="let category of rankCategories"
            [value]="category"
          >
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Discharge Rank -->
      <mat-form-field appearance="outline" class="tt-form-field">
        <mat-label>Rank at Discharge</mat-label>
        <mat-select
          formControlName="rankAtDischarge"
          (selectionChange)="onRankAtDischargeSelect($event)"
        >
          <mat-option *ngFor="let rank of ranksAtDischarge" [value]="rank">
            {{ rank }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-actions">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        class="tt-next-btn"
        [disabled]="!serviceDetailsForm.valid"
      >
        Next
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </form>
</div>
