<!-- service-details-step.component.html -->
<div class="container">
  <mat-accordion>
    <mat-expansion-panel class="custom-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> General Service Details </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Years of Service</mat-label>
          <input matInput formControlName="yearsOfService" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Branch</mat-label>
          <input matInput formControlName="branch" />
        </mat-form-field>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel class="custom-panel">
      <mat-expansion-panel-header>
        <mat-panel-title> Additional Information </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="input-container">
        <mat-form-field appearance="outline">
          <mat-label>Roles or Positions</mat-label>
          <input matInput formControlName="roles" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Status</mat-label>
          <input matInput formControlName="status" />
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="button-container">
    <button mat-raised-button color="primary" (click)="moveToNextStep()">
      Next
    </button>
  </div>
</div>
