<app-navigation-bar></app-navigation-bar>
<div class="flex-container">
  <mat-tab-group animationDuration="500ms">
    <mat-tab label="Featured Articles">
      <app-featured-articles></app-featured-articles>
    </mat-tab>
    <mat-tab label="Death/Survivor Benefits">
      <!-- <app-death-survivor-benefits></app-death-survivor-benefits> -->
    </mat-tab>
    <mat-tab label="Disability Compensation">
      <!-- <app-disability-compensation></app-disability-compensation> -->
    </mat-tab>
    <mat-tab label="Education & Employment">
      <!-- <app-education-employment></app-education-employment> -->
    </mat-tab>
    <mat-tab label="Health care">
      <!-- <app-health-care></app-health-care> -->
    </mat-tab>
    <mat-tab label="Housing">
      <!-- <app-housing></app-housing> -->
    </mat-tab>
    <mat-tab label="Miscellaneous">
      <!-- <app-miscellaneous></app-miscellaneous> -->
    </mat-tab>
    <mat-tab label="VA Pension">
      <!-- <app-va-pension></app-va-pension> -->
    </mat-tab>
  </mat-tab-group>
</div>
