* {
    box-sizing: border-box;
  }
  
  .image-slideshow {
    max-width: 1000px;
    width: 800px; /* Set the fixed width */
    height: 300px; /* Set the fixed height */
    margin: auto;
    margin-top: 70px; /* Add margin-top to create space below the navbar */
    margin-bottom: -20px;
    position: center;
    overflow: hidden; /* Hide overflow content */
  }
  
  img {
    width: 100%; /* Ensure the image takes up the full container width */
    height: 100%; /* Ensure the image takes up the full container height */
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 10s;
  }
  
  @keyframes fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 1;
    }
  }
  