<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.component.css">
    <script src="home.component.ts" defer></script>
</head>

<body>
    <nav class="navbar">
        <ul>
            <li><a [routerLink]="['/home']">Home</a></li>
            <li><a [routerLink]="['/faq']">FAQ</a></li>
            <li><a [routerLink]="['/resources']">Resources</a></li>
            <li><a href="questionnaire.html">Questionnaire</a></li>
            <li><a href="progress.html">Progress</a></li>
        </ul>
    </nav>


    <p>Home is working!</p>
</body>
</html>