<app-navigation-bar></app-navigation-bar>
<body>
  <div class="container mt-5" align="center">
    <h2 class="mb-4">Our Mission</h2>
    <h5 class="mb-5">
      The purpose of this website is to help veterans get the benefits that they
      deserve after serving our country. Navigating the complex process for
      applying for aid is difficult and complex, which causes many veterans to
      get much less than they deserve. We hope to provide a go to service where
      veterans can find resources, answers to common questions, and engage with
      their own progress tracker based on their specific situation.
    </h5>

    <h5 class="mb-1">To get started take our online questionnaire:</h5>
    <a [routerLink]="['/guided-wizard']"
      ><p>Click here to start questionnaire</p></a
    >
  </div>

  <br /><br /><br /><br /><br />

  <!-- Footer Section -->
  <footer class="footer mt-auto py-3 bg-light">
    <!-- mt-auto is a bootstrap class for an auto sized top margin. py-3 is padding, on the y-axis, with a size of 3. bg-light is a ligt gray background color-->
    <div class="container text-center">
      <span class="text-muted"
        >For more help please visit the r/VeteransBenefits subreddit</span
      >
      <br />
      <a href="https://www.reddit.com/r/VeteransBenefits/"
        >Visit our page on Reddit</a
      >
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
