<app-navigation-bar></app-navigation-bar>
<body>
  <!-- Slideshow Section -->
  <div class="image-slideshow">
    <div class="image fade">
      <img
        src="https://images.pexels.com/photos/8253834/pexels-photo-8253834.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Photo1"
      />
    </div>
    <div class="image fade">
      <img
        src="https://images.pexels.com/photos/1340504/pexels-photo-1340504.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Photo2"
      />
    </div>
    <div class="image fade">
      <img
        src="https://images.pexels.com/photos/40820/military-men-departing-service-uniform-40820.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Photo3"
      />
    </div>
    <div class="image fade">
      <img
        src="https://images.pexels.com/photos/54098/us-army-soldiers-army-men-54098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
        alt="Photo4"
      />
    </div>
  </div>

  <div class="container mt-5">
    <h2 class="mb-2" style="font-size: 40px; text-align: center">
      Our Mission
    </h2>
    <h5 class="mb-4">
      The purpose of this website is to help veterans get the benefits that they
      deserve after serving our country. Navigating the complex process for
      applying for aid is difficult and complex, which causes many veterans to
      get much less than they deserve. We hope to provide a go to service where
      veterans can find resources, answers to common questions, and engage with
      their own progress tracker based on their specific situation.
    </h5>

    <h5 class="mb-1" align="center">
      To get started take our online questionnaire:
    </h5>
    <a [routerLink]="['/guided-wizard']"
      ><p align="center">Click here to start questionnaire</p></a
    >
  </div>

  <br /><br /><br /><br /><br />

  <!-- Footer Section -->
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted"
        >For more help please visit the r/VeteransBenefits subreddit</span
      >
      <br />
      <a href="https://www.reddit.com/r/VeteransBenefits/"
        >Visit our page on Reddit</a
      >
    </div>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- Add your TypeScript script file (main.ts) here -->
  <script src="main.ts"></script>
</body>
